.bcen{
    background: url(bug29.webp);
    width: 100%;
    height: 89vh;
    object-fit: cover;
    background-size: cover;
}
.bcen2{
    font-size: 89px;
    padding: 37px 117px;
    color: white;
}
.bcen3{
    font-size: 77px;
    margin-left: 124px;
    color: white;
    margin-top: -67px;
}
.bcen4{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 517px;
}
.bcen5{
    display: flex;
    margin-left: 125px;
}
.bcen6{
    color: white;
    margin-top: 77px;
}
.bcen7{
    line-height: 28px;
    color: white;
    margin-top: 7px;
}
.bcen8{
    line-height: 28px;
    color: white;
    margin-top: 24px;
}
.bcen9{
    width: 757px;
    height: 517px;
    margin-left: 77px;
    object-fit: cover;
    background-size: cover;
}
.bcen10{
    width: 100%;
    height: 627px;
    object-fit: cover;
    background-size: cover;
}
.bcen11{
    background-color: black;
    width: 100%;
    height: 327vh;
    margin-top: -7px;
}
.bcen12{
    color: white;
    font-size: 57px;
    padding: 57px 147px;
}
.bcen13{
    display: flex;
    margin-top: -37px;
    margin-left: 147px;
}
.bcen14{
    color: white;
}
.bcen15{
    color: white;
    margin-left: 127px;
}
.bcen16{
    display: flex;
    margin-top: 87px;
    margin-left: 147px;
}
.bcen17{
    width: 823px;
    height: 823px;
    object-fit: cover;
    background-size: cover;
}
.bcen18{
    width: 407px;
    height: 407px;
    object-fit: cover;
    background-size: cover;
}
.bcen20{
    margin-left: 9px;
}
.bcen19{
    width: 407px;
    height: 407px;
    object-fit: cover;
    background-size: cover;
    margin-top: 2.4px;
}
.bcen21{
    display: flex;
    margin-top: 87px;
}
.bcen22{
    width: 759px;
    height: 507px;
    object-fit: cover;
    background-size: cover;
}
.bcen23{
    color: white;
    font-size: 34px;
}
.bcen24{
    color: white;
    line-height: 28px;
    margin-top: 7px;
}
.bcen25{
    color: white;
    margin-top: 27px;
    line-height: 28px;
}
.bcen26{
    color: white;
    margin-top: 27px;
}
.bcen27{
    margin-top: 27px;
    margin-left: 117px;
}
.bcen28{
    display: flex;
    margin-left: 119px;
}
.bcen29{
    color: white;
    font-size: 34px;
    margin-top: 100px;
}
.bcen30{
    line-height: 28px;
    color: white;
    margin-top: 7px;
}
.bcen31{
    line-height: 28px;
    color: white;
    margin-top: 27px;
}
.bcen32{
    width: 759px;
    height: 507px;
    margin-left: 117px;
    object-fit: cover;
    background-size: cover;
}
