.meqs{
    background: url(mercedeseqs.jpeg);
    width: 100%;
    height: 88vh;
    background-size: cover;
    object-fit: cover;
}
.meqs2{
    color: white;
    font-size: 107px;
    padding-top: 27px;
    margin-left: 100px;
}
.meqs3{
    color: white;
    font-size: 77px;
    margin-top: -41px;
    margin-left: 102.5px;
}
.meqs4{
    background-color: black;
    width: 100%;
    height: 552vh;
}
.meqs5{
    color: white;
    text-align: center;
    padding-top: 61px;
    font-size: 67px;
}
.meqs6{
    display: flex;
    margin-left: 137px;
    margin-top: 57px;
}
.meqs7{
    width: 547px;
    height: 684px;
    object-fit: cover;
    background-size: cover;
}
.meqs8{
    color: white;
    margin-left: 117px;
    font-size: 55px;
    margin-top: 137px;
}
.meqs9{
    color: white;
    margin-left: 124px;
}
.meqs10{
    display: flex;
    margin-left: 137px;
}
.meqs11{
    color: white;
    margin-top: 37px;
    font-size: 57px;
}
.meqs12{
    color: white;
}
.meqs13{
    width: 547px;
    height: 547px;
    margin-left: 137px;
    margin-top: -247px;
    object-fit: cover;
    background-size: cover;
}
.meqs14{
    display: flex;
    margin-left: 137px;
}
.meqs15{
    width: 547px;
    height: 547px;
    margin-top: 67px;
    object-fit: cover;
    background-size: cover;
}
.meqs16{
    color: white;
    font-size: 57px;
}
.meqs17{
    color: white;
}
.meqs18{
    color: white;
    margin-top: 17px;
}
.meqs19{
    margin-left: 119px;
    margin-top: 127px;
}
.meqs20{
    text-align: center;
    color: white;
    margin-top: 41px;
    font-size: 77px;
}
.meqs21{
    color: white;
    text-align: center;
}
.meqs22{
    color: white;
    text-align: center;
    margin-top: 57px;
    font-size: 57px;
}
.meqs23{
    display: flex;
    margin-top: 77px;
}
.meqs24{
    width: 687px;
    height: 512px;
    object-fit: cover;
    background-size: cover;
}
.meqs25{
    color: white;
    margin-top: 137px;
    margin-left: 187px;
    font-size: 77px;
}
.meqs26{
    display: flex;
    margin-left: 117px;
    margin-top: 97px;
}
.meqs27{
    color: white;
    font-size: 77px;
    margin-top: -23px;
}
.meqs28{
    width: 677px;
    height: 557px;
    margin-left: 169.5px;
    margin-top: -177px;
    object-fit: cover;
    background-size: cover;
}
.meqs29{
    display: flex;
}
.meqs30{
    width: 677px;
    height: 677px;
    margin-top: -97px;
    object-fit: cover;
    background-size: cover;
}
.meqs31{
    color: white;
    margin-left: 177px;
    margin-top: 127px;
    font-size: 77px;
}
.meqs32{
    font-size: 77px;
    margin-top: 57px;
    margin-left: 157px;
}
.meqs33{
    margin-top: 17px;
}
.meqs34{
    margin-left: 100px;
    margin-top: 167px;
}
.meqs35{
    font-size: 77px;
    margin-top: -77px;
    margin-left: 177px;
}
.meqs36{
    font-size: 77px;
    margin-left: 177px;
    margin-top: 27px;
}
.meqs37{
    width: 997px;
    height: 477px;
    margin-left: 179px;
    margin-top: 57px;
    object-fit: cover;
    background-size: cover;
}
.meqs38{
    margin-left: 182px;
}
.meqs39{
    font-weight: 900;
    margin-left: 179px;
    margin-top: 17px;
}
.meqs40{
    margin-left: 179px;
    margin-top: 7px;
}
.meqs41{
    text-align: center;
    margin-top: 17px;
    font-size: 37px;
}