.off-section1{
    background: url("offroad1.jpg");
    background: url(f4f150.jpeg);
    width: 100%;
    height: 109vh;
    margin-top: -147px;
    background-size: cover;
    object-fit: cover;
}
.off-section2{
    text-transform: uppercase;
    padding-top: 167px;
    font-size: 74px;
    margin-left: 100px;
}
.offroad1h1{
    margin-left: 107px;
    margin-top: -14px;
}
.off-section3{
    font-size: 37px;
}
.offroad3icon777{
      margin-left: 89px;
      margin-top: 17px;
}
.offroad2icon777{
    width: 74px;
    height: 74px;
    padding-left: 17px;
    padding-top: 13px;
    border-radius: 50%;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid black;
}
.offroad2icon777:hover{
    box-shadow: 0 0 7px black;
}
.off-section4{
    width: 100%;
}
.off-section5{  
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: 400;
}
.off-section6{
    display: flex;
    margin-top: 90px;
}
.off-section7{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
    background-size: cover;
}
.off-seczoom4{
    width: 730px;
    height: 440px;
    overflow: hidden;
 
}
.off-seczoom4:hover img{
    transform: scale(1.2);
}
.off-section8{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
    object-fit: cover;
    background-size: cover;
}
.off-seczoom3{
    width: 730px;
    height: 440px;
    overflow: hidden;
    margin-left: 58px;
}
.off-seczoom3:hover img{
    transform: scale(1.2);
}
.off-seczoom2{
    width: 730px;
    height: 440px;
    overflow: hidden;
}
.off-seczoom2:hover img{
    transform: scale(1.2);
}
.off-seczoom1{
    width: 730px;
    height: 440px;
    margin-left: 58px;
    overflow: hidden;
}
.off-seczoom1:hover img{
    transform: scale(1.2);
}
.ospecroad{
    font-size: 40px;
    margin-top: 47px;
    margin-left: 93px;
}
.ospecroad2{
    font-size: 40px;
    margin-top: 47px;
    margin-left: 130px;
}
.off-section11{
    background-color: white;
    padding: 15px 70px;
    border: 1px solid gray;
    font-size: 22px;
    margin-left: 97px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
}
.off-section11:hover{
  background-color: rgb(0, 0, 0);
  color: white;
}
.off-section12{
    background-color: white;
    font-size: 22px;
    padding: 15px 70px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    border: 1px solid gray;
    margin-left: 137px;
}
.off-section12:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.off-section13{
    width: 410px;
    margin-left: 70px;
    margin-top: 20px;
    animation-duration: 0.5s;
    animation-name: offa1;
    line-height: 30px;
    height: 470px;
    box-shadow: 0 0 100px black;
}
.off-section19{
    width: 410px;
    margin-left: 100px;
    margin-top: 20px;
    animation-duration: 0.5s;
    animation-name: offa2;
    line-height: 30px;
    height: 470px;
    box-shadow: 0 0 100px black;
}
@keyframes offa1{
   from{margin-left: -250px;}
}
@keyframes offa2{
    from{margin-left: 350px;}
 }
.off-section14{
    font-size: 17px;
    margin-left: 50px;
    font-style: italic;
}
.off-section15{
    padding-top: 30px;
}
.off-section16{
   padding-top: 5px;
   text-transform: uppercase;
   padding-left: 50px;
}
.off-section17{
    background-color: black;
    width: 250px;
    color: white;
    clip-path: polygon(0 0, 100% 0, 61% 100%, 0% 100%);
    position: relative;
    top: 25px;
    text-align: center;   
}
.off-section18{
    padding: 7px 55px;
    border: none;
    color: white;
    margin-left: 50px;
    position: relative;
    top: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    transition: 0.5s;
}
.off-section18:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}
.off-section20{
    font-size: 40px;
    font-weight: 400;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
}
.off-section21{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.off-section22{
    font-size: 70px;
    cursor: pointer;
}