.suv-amg{
    background: url(suv777.jpg);
    width: 100%;
    margin-top: -57px;
    height: 97.7vh;
    object-fit: cover;
    background-size: cover;  
}
.suv-h1{
    color: white;
    font-size: 67px;
    margin-left: 97px;
    padding-top: 97px;
}
.suv-more777{
    color: white;
    margin-left: 99px;
    margin-top: -7px;
}
.suv-btn-1{
    font-size: 37px;
    color: white;
}
.suv2news{
    width: 74px;
    height: 74px;
    padding-left: 17px;
    padding-top: 13px;
    border-radius: 50%;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}
.suv2news:hover{
    box-shadow: 0 0 7px rgb(255, 255, 255);
}
.suv3news{
    margin-left: 87px;
    margin-top: 17px;
}
.suv-section-1{
    width: 100%;
    height: 335vh;
    background-color: black;
}
.suv-section1-h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}
.speed-flex{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}
.flex-1, .flex-2, .flex-3{
    display: flex;
}
.btn-speed{
    padding: 15px 30px;
    width: 327px;
    font-size:35px;
    margin-left: 0px;
    background: linear-gradient(brown, black,brown);
    cursor: pointer;
    transition: 0.5s;
    border: none;
    color: white;
    /* font-family: 'Roboto', sans-serif; */
    border-radius: 50%;
    height: 200px;
}
.speed-count{
    color: white;
    font-size: 160px;
    margin-top: -20px;
    padding-left: 400px;
}
.h1-startstop{
    color: white;
     text-align: center;
     margin-top: 100px;
     font-size: 60px;
     text-transform: uppercase;
}
.startstop{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 90px;
    animation-name: j777Moment;
    animation-duration: 0.5s;
    font-weight: 900;
    margin-left: 550px;
    border: none;
    box-shadow: 0 0 12px rgb(255, 255, 255);
    margin-top: 50px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(rgb(103, 18, 18), rgb(0, 0, 0), rgb(103, 14, 14));
}
@keyframes j777Moment{
   /* from{font-size: 90px;}
    to{font-size: 100px;}*/
    from{margin-left: 177px;}
}
.yes-h1{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 77px;
}
.btn-flex{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}   
.btn-yes{
    width: 200px;
    height: 90px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 20px 40px;
}
.btn-no{
    width: 200px;
    height: 90px;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    background-color: white;
    padding: 20px 40px;
}
.suv-price-h1{
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}
.zoom-urus{
  overflow: hidden;
  width:759.5px;
  height: 455px;
  cursor: pointer;
}
.zoom-urus:hover img{
    transform: scale(1.2);
}
.urusprice{
    width: 100%;
    transition: 0.7s;
    height: 100%;
    object-fit: cover;
}
.zoom-g63amg{
    overflow: hidden;
  width:759.5px;
  height: 455px;
  cursor: pointer;
}
.zoom-g63amg:hover img{
    transform: scale(1.2);
}
.g63amgprice{
    width: 100%;
    transition: 0.7s;
    height: 100%;
    object-fit: cover;
}
.zoom-bentayga{
    overflow: hidden;
  width:759.5px;
  height: 455px;
  cursor: pointer;
}
.zoom-bentayga:hover img{
    transform: scale(1.2);
}
.bentaygaprice{
    width: 100%;
    transition: 0.7s;
    height: 100%;
    object-fit: cover;
}
.cadillacprice{
    width: 100%;
    transition: 0.7s;
    height: 100%;
    object-fit: cover;
}
.zoom-cadillac{
    overflow: hidden;
  width: 759.5px;
  height: 455px;
  cursor: pointer;
}
.zoom-cadillac:hover img{
    transform: scale(1.2);
}
.cadillacprice{
    width: 100%;
    transition: 0.7s;
    height: 100%;
    object-fit: cover;
}



.suv-price{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.urus-col{
    display: flex;
    flex-direction: column;
}
.g63amgprice-col{
    display: flex;
    flex-direction: column;
}
.urusprice-about{
    font-style: italic;
     font-size: 30px;
     margin-top: 20px;
     margin-left: 50px;
}
.urusprice-features{
    font-style: italic;
    line-height: 30px;
    margin-left: 50px;
}
.urusprice-btn{
    padding: 20px 20px;
    border: none;
    width: 240px;
    height: 75px;
    margin-top: 170px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    font-size: 22px;
    margin-left: 50px;
    background-color: black;
}
.g63amg-btn{
    padding: 20px 20px;
    border: none;
    width: 240px;
    height: 75px;
    margin-top: 170px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    font-size: 22px;
    margin-left: 50px;
    background-color: black;
}
.www{
    display: flex;
}
.www-1{
    display: flex;
}
.choices-suv{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.cullinanchoices{
    width: 750px;
    height: 440px;
    margin-top: 50px;
    object-fit: cover;

}
.fordf150choices{
    width: 750px;
    height: 440px;
    margin-top: 50px;
    object-fit: cover;
}
.lux-p1{
    font-size: 45px;
    text-transform: uppercase;
    padding-left: 50px;
    margin-top: 50px;
}
.link-luxury{
    padding: 20px 70px;
    background-color: black;
    border: none;
    font-size: 25px;
    transition: 0.5s;
    color: white;
    cursor: pointer;
   margin-top: 50px;
    margin-left: 150px;
}

.link-offroad{
    padding: 20px 70px;
    background-color: black;
    border: none;
    font-size: 25px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 150px;
}
.type-lux{
    display: flex;
}
.type-offroad{
    margin-left: 50px;
}
.suv-end-h1{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 50px;
}

.suv-top{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.icon-top{
    font-size: 70px;
    width: max-content;
    margin-left: 720px;
    cursor: pointer;
}
.section-18{
    width: 100%;
    height: 600px;
    margin-top: 50px;
   background-color: rgb(21, 21, 21);
}
.all-cars-1{
    color: white;
    padding-top: 30px;
    font-size: 22px;
    padding-left: 50px;
    font-weight: 400;
}
.car-models{
   padding-left: 50px;
   color: white;
}
.car-models-1{
    padding-left: 100px;
    color: white;
 }
.all-models-1{
    display: flex;
}
.instagram{
    font-size: 22px;
}
.instagram a{
    color: white;
}
.twitter{
    font-size: 22px;
    padding-left: 15px;
}
.twitter a{
    color: white;
}
.facebook{
    font-size: 22px;
    padding-left: 10px;
}
.facebook a{
    color: white;
}
.linkedin{
    font-size: 22px;
    padding-left: 10px;
}
.linkedin a{
    color: white;
}
.youtube{
    font-size: 22px;
    padding-left: 15px;
}
.youtube a{
    color: white;
}
.netflix{
    font-size: 22px;
    padding-left: 15px;
}
.netflix a{
    color: white;
}
.tiktok{
    font-size: 22px;
    padding-left: 15px;
}
.tiktok a{
    color: white;
}
.social{
    display: flex;
    margin-left: 250px;
}
.copy{
    color: white;
    margin-left: 40px;
    margin-top: 40px;
}
.allright{
    color: white;
    margin-left: 40px;
    margin-top: 5px;
}
